n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "2da5378b-00ab-404e-959d-680a800be125",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2080,
        1360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cI5ebsvBqGF7Gk3NxomDqMVtYsvAQ8BRomtRHiKK2Hc",
          "mode": "list",
          "cachedResultName": "al_biruni_prompts"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667439052,
          "mode": "list",
          "cachedResultName": "Prompts"
        },
        "options": {}
      },
      "id": "ebe1938c-4d11-4ca1-afcf-dc19cf7e3487",
      "name": "Read Prompts from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2304,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8OsKTqcQI3Rry1Uu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slug = (v, fb) => String(v || fb)\n  .toLowerCase()\n  .replace(/[^a-z0-9._-]+/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^[._-]+|[._-]+$/g, '')\n  .slice(0, 80) || fb;\n\nreturn items\n  .filter(item => {\n    const j = item.json;\n    const promptText = String(j['Prompt Text'] || '').trim();\n    if (!promptText || promptText.includes('See original prompt content')) {\n      return false;\n    }\n    const status = String(j.status || '').toLowerCase();\n    return status !== 'done';\n  })\n  .map(item => {\n    const j = item.json;\n    const promptText = String(j['Prompt Text'] || '').trim();\n    const negativePrompt = String(j['Negative Prompts'] || 'static, slow dolly, talking heads, text overlays, modern technology, smartphones, low quality, blurry, distorted, watermark, text, logo');\n    const section = String(j.Section || 'default').trim();\n    const safeFolder = slug(section, 'documentary-series');\n    const promptNum = String(j['Prompt #'] || '').trim();\n    const promptTitle = String(j['Prompt Title'] || '').trim();\n    const safePrefix = slug(\n      (promptNum ? 'prompt-' + promptNum + '-' : '') + promptTitle,\n      'clip'\n    );\n    \n    return {\n      json: {\n        row_number: j.row_number,\n        section: section,\n        prompt_title: promptTitle,\n        prompt: promptText,\n        negative_prompt: negativePrompt,\n        subfolder: safeFolder,\n        filename_prefix: safePrefix,\n        seed: undefined,\n        num_frames: 16,\n        num_inference_steps: 20,\n        guidance_scale: 7.5,\n        width: 256,\n        height: 256,\n        fps: 4\n      }\n    };\n  });"
      },
      "id": "bc9ca299-53d3-4799-abb7-085424e19252",
      "name": "Prepare Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        1360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a6083a7f-ebf6-4aa2-88a6-af9fc117d0a5",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2752,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mail-licence-amp-occurrence.trycloudflare.com/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  prompt: $json.prompt,\n  negative_prompt: $json.negative_prompt,\n  seed: $json.seed,\n  num_frames: $json.num_frames,\n  num_inference_steps: $json.num_inference_steps,\n  guidance_scale: $json.guidance_scale,\n  width: $json.width,\n  height: $json.height,\n  fps: $json.fps,\n  subfolder: $json.subfolder,\n  filename_prefix: $json.filename_prefix\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8b8882f0-fbc0-4c26-b6e4-b425d9dde6d6",
      "name": "Start Generation (Async)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Store both job_id AND original request data\nreturn items.map(item => ({\n  json: {\n    job_id: item.json.job_id,\n    status: item.json.status || 'queued',\n    original_data: $('Prepare Rows').item.json,\n    poll_count: 0\n  }\n}));"
      },
      "id": "3658fc85-b84c-451d-bc02-1d7043542b39",
      "name": "Initialize Polling Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        1360
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "15a22d09-6266-4543-b026-fff5aabe5385",
      "name": "Wait 15 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3312,
        1360
      ],
      "webhookId": "wait-poll-webhook"
    },
    {
      "parameters": {
        "url": "=https://mail-licence-amp-occurrence.trycloudflare.com/jobs/{{ $json.job_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2a63d1c8-9897-489d-b9b3-f60cf7038668",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// CRITICAL: Merge polling response WITH preserved job_id and original_data\nreturn items.map(item => {\n  // Get the polling response (current item)\n  const pollingResponse = item.json;\n  \n  // Get the data from the previous node that has job_id preserved\n  const previousData = $('Wait 15 Seconds').item.json;\n  \n  return {\n    json: {\n      // Preserve job_id and original_data from loop\n      job_id: previousData.job_id,\n      original_data: previousData.original_data,\n      poll_count: (previousData.poll_count || 0) + 1,\n      \n      // Add current status from API response\n      status: pollingResponse.status,\n      video_url: pollingResponse.video_url,\n      file_name: pollingResponse.file_name,\n      file_path: pollingResponse.file_path,\n      error: pollingResponse.error\n    }\n  };\n});"
      },
      "id": "d03be3b5-1b49-4bf4-aa08-0bd4298f7168",
      "name": "Merge Poll Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "3fe1d172-e9bc-4a7e-ac03-3cc5cded9ed6",
      "name": "Check If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3840,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const r = item.json;\n  const prepareData = r.original_data;\n  \n  if (r.status !== 'completed' || !r.video_url) {\n    throw new Error('Generation failed: ' + JSON.stringify(r));\n  }\n  \n  const file = String(r.file_name || (r.job_id + '.mp4'))\n    .replace(/[^a-zA-Z0-9._-]/g, '_');\n  const folder = String(prepareData.subfolder || 'documentary-series')\n    .replace(/[^a-zA-Z0-9._-]/g, '-');\n  const localPath = `$HOME/video/${folder}/${file}`;\n  \n  return {\n    json: {\n      ...prepareData,\n      job_id: r.job_id,\n      video_url: r.video_url,\n      safe_file: file,\n      safe_folder: folder,\n      local_path: localPath\n    }\n  };\n});"
      },
      "id": "68d5760f-8bde-4db0-a113-245f553f557a",
      "name": "Prepare Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        1248
      ]
    },
    {
      "parameters": {
        "command": "={{ 'mkdir -p \"$HOME/video/' + $json.safe_folder + '\" && curl -L --fail --retry 3 \"' + $json.video_url + '\" -o \"$HOME/video/' + $json.safe_folder + '/' + $json.safe_file + '\" && echo \"Saved: $HOME/video/' + $json.safe_folder + '/' + $json.safe_file + '\"' }}"
      },
      "id": "437e2c0e-57bd-4c11-b1ec-2acb3af3ee79",
      "name": "SSH Save Video",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        4176,
        1248
      ],
      "credentials": {
        "sshPassword": {
          "id": "agD4kJPh6DmOckRr",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const base = $('Prepare Download').item.json;\n  return {\n    json: {\n      row_number: base.row_number,\n      status: 'done',\n      video_url: base.video_url,\n      local_path: base.local_path,\n      file_name: base.safe_file\n    }\n  };\n});"
      },
      "id": "83b8f60a-b4fb-4323-909a-219d2c4991ed",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        1248
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cI5ebsvBqGF7Gk3NxomDqMVtYsvAQ8BRomtRHiKK2Hc",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667439052,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Section",
              "displayName": "Section",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt #",
              "displayName": "Prompt #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt Title",
              "displayName": "Prompt Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt Text",
              "displayName": "Prompt Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Technical Settings",
              "displayName": "Technical Settings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Negative Prompts",
              "displayName": "Negative Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f53f5a38-b0a1-49a4-9af9-362b90083056",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4528,
        1248
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8OsKTqcQI3Rry1Uu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Prompts from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts from Google Sheet": {
      "main": [
        [
          {
            "node": "Prepare Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rows": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Start Generation (Async)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Generation (Async)": {
      "main": [
        [
          {
            "node": "Initialize Polling Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Polling Data": {
      "main": [
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Merge Poll Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Poll Response": {
      "main": [
        [
          {
            "node": "Check If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Completed": {
      "main": [
        [
          {
            "node": "Prepare Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Download": {
      "main": [
        [
          {
            "node": "SSH Save Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Save Video": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Status": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4b3888f2b16b749440ab4ac4a27b5996372013c2346e260c8154399f21c628e"
  }
}