n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "bb1b7051-fb0d-4379-af96-fd77d744bc62",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2976,
        2032
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cI5ebsvBqGF7Gk3NxomDqMVtYsvAQ8BRomtRHiKK2Hc",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667439052,
          "mode": "list"
        },
        "options": {}
      },
      "id": "be19412d-fc53-4920-8a06-4bb6b118f2ac",
      "name": "Read Prompts from Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3200,
        2032
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8OsKTqcQI3Rry1Uu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slug = (v, fb) => String(v || fb)\n  .toLowerCase()\n  .replace(/[^a-z0-9._-]+/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^[._-]+|[._-]+$/g, '')\n  .slice(0, 80) || fb;\n\nreturn items\n  .filter(item => {\n    const j = item.json;\n    const promptText = String(j['Prompt Text'] || '').trim();\n    if (!promptText || promptText.includes('See original prompt content')) {\n      return false;\n    }\n    const status = String(j.status || '').toLowerCase();\n    return status !== 'done';\n  })\n  .map(item => {\n    const j = item.json;\n    const promptText = String(j['Prompt Text'] || '').trim();\n    const negativePrompt = String(j['Negative Prompts'] || 'low quality, worst quality, blurry, distorted, watermark, text overlay, logo, bad anatomy, deformed, disfigured, mutation, ugly, static camera, slideshow, jpeg artifacts, compression artifacts');\n    const section = String(j.Section || 'default').trim();\n    const safeFolder = slug(section, 'documentary-series');\n    const promptNum = String(j['Prompt #'] || '').trim();\n    const promptTitle = String(j['Prompt Title'] || '').trim();\n    const safePrefix = slug(\n      (promptNum ? 'prompt-' + promptNum + '-' : '') + promptTitle,\n      'clip'\n    );\n    \n    return {\n      json: {\n        row_number: j.row_number,\n        section: section,\n        prompt_title: promptTitle,\n        prompt: promptText,\n        negative_prompt: negativePrompt,\n        subfolder: safeFolder,\n        filename_prefix: safePrefix,\n        seed: undefined,\n        num_frames: 24,\n        num_inference_steps: 40,\n        guidance_scale: 17.5,\n        width: 576,\n        height: 320,\n        fps: 8\n      }\n    };\n  });"
      },
      "id": "050e3a2b-917c-4cb2-8fd1-7364b3ddde0d",
      "name": "Prepare Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        2032
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "814c0af2-6af6-4045-b7fd-0c958598e6a9",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3648,
        2032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mail-licence-amp-occurrence.trycloudflare.com/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  prompt: $json.prompt,\n  negative_prompt: $json.negative_prompt,\n  seed: $json.seed,\n  num_frames: $json.num_frames,\n  num_inference_steps: $json.num_inference_steps,\n  guidance_scale: $json.guidance_scale,\n  width: $json.width,\n  height: $json.height,\n  fps: $json.fps,\n  subfolder: $json.subfolder,\n  filename_prefix: $json.filename_prefix\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "49f771cf-7ce8-4d20-9e01-81c01b2c3645",
      "name": "Start Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3856,
        2032
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    job_id: item.json.job_id,\n    status: item.json.status || 'queued',\n    original_data: $('Prepare Rows').item.json,\n    poll_count: 0\n  }\n}));"
      },
      "id": "879363f5-0cc6-48ec-bc96-e35861468768",
      "name": "Initialize Polling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        2032
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "cf040a35-8b3e-40b2-9c76-e9fc008dd147",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4208,
        2032
      ],
      "webhookId": "wait-webhook"
    },
    {
      "parameters": {
        "url": "=https://mail-licence-amp-occurrence.trycloudflare.com/jobs/{{ $json.job_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bce22b49-3c66-43a6-9d34-37faaf8b8675",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4384,
        2032
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const pollingResponse = item.json;\n  const previousData = $('Wait 20 Seconds').item.json;\n  \n  return {\n    json: {\n      job_id: previousData.job_id,\n      original_data: previousData.original_data,\n      poll_count: (previousData.poll_count || 0) + 1,\n      status: pollingResponse.status,\n      video_url: pollingResponse.video_url,\n      file_name: pollingResponse.file_name,\n      file_path: pollingResponse.file_path,\n      seed: pollingResponse.seed,\n      generation_time: pollingResponse.generation_time,\n      error: pollingResponse.error\n    }\n  };\n});"
      },
      "id": "73dd29a4-2a36-4662-be2d-1fe12c1806dd",
      "name": "Merge Poll Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        2032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "a9a41963-6a5d-4c43-b1cf-cb88d852cfb9",
      "name": "Check If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4736,
        2032
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const r = item.json;\n  const prepareData = r.original_data;\n  \n  if (r.status !== 'completed' || !r.video_url) {\n    throw new Error('Generation failed: ' + JSON.stringify(r));\n  }\n  \n  const file = String(r.file_name || (r.job_id + '.mp4'))\n    .replace(/[^a-zA-Z0-9._-]/g, '_');\n  const folder = String(prepareData.subfolder || 'documentary-series')\n    .replace(/[^a-zA-Z0-9._-]/g, '-');\n  const localPath = `$HOME/video/${folder}/${file}`;\n  \n  return {\n    json: {\n      ...prepareData,\n      job_id: r.job_id,\n      video_url: r.video_url,\n      safe_file: file,\n      safe_folder: folder,\n      local_path: localPath,\n      seed: r.seed,\n      generation_time: r.generation_time\n    }\n  };\n});"
      },
      "id": "a5b6281f-0f25-4116-a4cf-2bddc3756a17",
      "name": "Prepare Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        1920
      ]
    },
    {
      "parameters": {
        "command": "={{ 'mkdir -p \"$HOME/video/' + $json.safe_folder + '\" && curl -L --fail --retry 3 \"' + $json.video_url + '\" -o \"$HOME/video/' + $json.safe_folder + '/' + $json.safe_file + '\" && echo \"✅ Saved: $HOME/video/' + $json.safe_folder + '/' + $json.safe_file + ' (seed: ' + $json.seed + ', time: ' + $json.generation_time + 's)\"' }}"
      },
      "id": "c22b38f6-03f5-4b54-9e67-647a6f98fcd0",
      "name": "SSH Save Video",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        5072,
        1920
      ],
      "credentials": {
        "sshPassword": {
          "id": "agD4kJPh6DmOckRr",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const base = $('Prepare Download').item.json;\n  return {\n    json: {\n      row_number: base.row_number,\n      status: 'done',\n      video_url: base.video_url,\n      local_path: base.local_path,\n      file_name: base.safe_file,\n      seed: base.seed,\n      generation_time: base.generation_time\n    }\n  };\n});"
      },
      "id": "a6bd3bb1-802a-48aa-9bb7-1c76c86afb3c",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5248,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cI5ebsvBqGF7Gk3NxomDqMVtYsvAQ8BRomtRHiKK2Hc",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667439052,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "video_url": "={{ $json.video_url }}",
            "local_path": "={{ $json.local_path }}",
            "file_name": "={{ $json.file_name }}"
          },
          "matchingColumns": [
            "row_number"
          ]
        },
        "options": {}
      },
      "id": "2d5df080-997b-4201-bfbe-539496fcd704",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        5424,
        1920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8OsKTqcQI3Rry1Uu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Prompts from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prompts from Google Sheet": {
      "main": [
        [
          {
            "node": "Prepare Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rows": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Start Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Generation": {
      "main": [
        [
          {
            "node": "Initialize Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Polling": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Poll Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          {
            "node": "Merge Poll Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Poll Response": {
      "main": [
        [
          {
            "node": "Check If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Completed": {
      "main": [
        [
          {
            "node": "Prepare Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Download": {
      "main": [
        [
          {
            "node": "SSH Save Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Save Video": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Status": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4b3888f2b16b749440ab4ac4a27b5996372013c2346e260c8154399f21c628e"
  }
}